<div class="shadow-lg bg-white p-3">
  <form
    class="grid grid-cols-2 gap-2"
    [formGroup]="formGroup"
    (ngSubmit)="calculateRepaymentPlan()"
  >
    <dui-input label="Darlehensbetrag" formControlName="loanAmount"></dui-input>
    <dui-input
      label="Sollzins (Prozent)"
      formControlName="debitInterest"
    ></dui-input>
    <dui-input
      label="Tilgung (Prozent)"
      formControlName="repaymentRate"
    ></dui-input>
    <dui-input
      label="Zinsbindung (Jahre)"
      formControlName="fixedInterestRate"
    ></dui-input>
    <div></div>
    <dui-button type="submit" [attr.disabled]="formGroup.invalid">
      Berechnen
    </dui-button>
  </form>
</div>

@if(repayments.length) {
<div class="h-full w-full">
  <ag-grid-angular
    class="ag-theme-quartz"
    style="width: 100%; height: 500px"
    [rowData]="repayments"
    [columnDefs]="colDefs"
  >
  </ag-grid-angular>
</div>
}
